# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains CLion folders
.idea
cmake-build-debug
CMakeFiles/progress.marks
cmake_install.cmake
CMakeCache.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/SFML-Collection.dir/build.make
CMakeFiles/SFML-Collection.dir/cmake_clean.cmake
CMakeFiles/SFML-Collection.dir/compiler_depend.internal
CMakeFiles/SFML-Collection.dir/compiler_depend.make
CMakeFiles/SFML-Collection.dir/compiler_depend.ts
CMakeFiles/SFML-Collection.dir/depend.make
CMakeFiles/SFML-Collection.dir/DependInfo.cmake
CMakeFiles/SFML-Collection.dir/flags.make
CMakeFiles/SFML-Collection.dir/link.txt
CMakeFiles/SFML-Collection.dir/progress.make
CMakeFiles/TargetDirectories.txt
Makefile
SFML-Collection
